In [120]:
#files = "https://github.com/rpi-techfundamentals/introml_website_fall_2020/raw/master/files/midterm.zip" 
#!pip3 install otter-grader && wget $files  && unzip -o midterm.zip

In [121]:
import numpy as np 
import pandas as pd 
import sklearn
import otter

## Midterm

**Save your working file in Google drive immediately upon starting this assignment.** 

Before you turn this in, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). They should run completely without intervention.

**You may find it useful to go through the notebooks from the course materials when doing these exercises.**

**If you receive assistance from anyone it will be considered an ethical violation and referred to associate dean.**

In [122]:
import pandas as pd
df  = pd.read_csv("midterm_part1.csv")
df

,demo,demo1,demo2,demo3,demo4,demo5,demo6,demo7,demo8,demo9,...,dv2,dv3,dv4,dv5,dv6,dv7,dv8,dv9,class,reg_target
0,0,1,1,1,1,1,0,1,1,0,...,1,1,1,0,1,0,0,1,0.0,453.521369
1,0,1,1,0,1,1,0,1,1,0,...,1,1,1,1,1,0,1,0,0.0,151.919191
2,0,0,1,0,1,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0.0,-141.666991
3,0,1,1,0,1,1,0,1,1,1,...,0,0,0,1,1,1,0,0,0.0,-227.245474
4,1,0,1,1,0,0,0,1,1,1,...,0,1,0,0,0,1,0,0,0.0,-130.752790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,0,0,0,0,0,0,0,0,1,1,...,0,1,0,1,1,0,1,1,9.0,57.045191
9996,1,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,1,0,9.0,20.359107
9997,1,1,0,1,0,0,0,0,1,1,...,0,0,0,0,1,0,1,1,9.0,-171.269242
9998,0,0,0,1,0,0,0,0,1,1,...,0,1,1,1,1,0,0,1,9.0,125.539606
9999,1,0,0,1,0,0,0,1,1,1,...,0,1,0,0,0,1,1,0,9.0,-206.742398

## Statistical Functions and Calculations - Part 1

1a. (3pts) Set the `reg_target_mean` variable value equal to the mean `reg_target` column of the df dataframe. 

1b. (3pts) Set the `class_num` variable value equal to the number of different values in the `class` column of the df dataframe. (Nan should count as a different value.)

1c. (3pts) Set the `class_most_freq` variable value equal to the most frequent class in the `class` column of the df dataframe. Make it an integer.

1d. (3pts) Set the `class_na` variable value equal to the number of missing values in the `class` column of the df dataframe.

In [123]:
#Answer (add additional cells as necessary)

# 1a: 


reg_target_mean = df.reg_target.mean() 
print(reg_target_mean)

-0.7155711461403967

In [124]:
##1b: 

class_num = df['class'].value_counts(dropna = False).shape[0]
print(class_num)

11

In [125]:
## 1c
 
class_most_freq = df['class'].value_counts().idxmax()

print(class_most_freq)

1.0

In [126]:
## 1d. 

class_na = df['class'].isna().sum() 
print(class_na)

34

## Fill NA Strategies - Part 1 Continued 

1e-f. (6pts) Create a dataframe `df2` from a copy of `df` which includes only those rows in which the `class` variable is not null.


1f-g. (6pts) Create a dataframe `df3` from a copy of `df` which sets all missing values of `class` to `-1` (integer).  

After filling the NA values, convert the `class` column to an integer type.

In [127]:
#Answer (add additional cells as necessary)
#1e - f
dfcopy = df
df2 = dfcopy 
df2 = df2.dropna(subset = ['class']).astype(int) 

df2['class'].value_counts()

1    1012
9    1000
8    1000
7     998
0     998
2     997
6     992
4     991
3     990
5     988
Name: class, dtype: int64

In [128]:

# 1 f-g
df3 = dfcopy 
df3['class'] = df3['class'].fillna(value = -1).astype(int) 
df3['class'].value_counts()

 1    1012
 9    1000
 8    1000
 7     998
 0     998
 2     997
 6     992
 4     991
 3     990
 5     988
-1      34
Name: class, dtype: int64

## Train Test Split - Part 2 

2a. (3pts) Create a Pandas Series `y_class` equal to an `int` of the `class` variable from the `dfp2` dataframe.

2b. (3pts) Create a Pandas Dataframe `X` equal to all other variables (i.e., all variables other than `reg_target` and `class` from the `dfp2` dataframe.  

2c-e. (9pts) Use `X` and `y_class` to perform a train test split creating `train_X`,  `test_X`, `train_y`, `test_y` using the following specifications:

- Use 75% for the train set, 25% for the test set. 
- Use the value `99` for the Random State.
- Use stratified sampling.

2f. Recode `train_y` from a multiclass classification problem to a binary classification problem, such that `train_y_new` = 0 if the value of train_y is 0-4 and `train_y_new` =1 if train_y = 5-9.

2f. Recode `test_y` from a multiclass classification problem to a binary classification problem, such that `test_y_new` = 0 if the value of test_y is 0-4 and `test_y_new` =1 if test_y = 5-9.

In [129]:
#Load Part 2 Data
dfp2  = pd.read_csv("midterm_part2.csv")
dfp2

,demo,demo1,demo2,demo3,demo4,demo5,demo6,demo7,demo8,demo9,...,dv2,dv3,dv4,dv5,dv6,dv7,dv8,dv9,class,reg_target
0,0,1,1,1,1,1,0,1,1,0,...,1,1,1,0,1,0,0,1,0.0,453.521369
1,0,1,1,0,1,1,0,1,1,0,...,1,1,1,1,1,0,1,0,0.0,151.919191
2,0,0,1,0,1,1,0,0,1,1,...,1,0,1,0,1,0,1,1,0.0,-141.666991
3,0,1,1,0,1,1,0,1,1,1,...,0,0,0,1,1,1,0,0,0.0,-227.245474
4,1,0,1,1,0,0,0,1,1,1,...,0,1,0,0,0,1,0,0,0.0,-130.752790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,0,0,0,0,0,0,0,0,1,1,...,0,1,0,1,1,0,1,1,9.0,57.045191
9962,1,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,1,0,9.0,20.359107
9963,1,1,0,1,0,0,0,0,1,1,...,0,0,0,0,1,0,1,1,9.0,-171.269242
9964,0,0,0,1,0,0,0,0,1,1,...,0,1,1,1,1,0,0,1,9.0,125.539606
9965,1,0,0,1,0,0,0,1,1,1,...,0,1,0,0,0,1,1,0,9.0,-206.742398

In [130]:
#Answer (add additional cells as necessary)

In [131]:

#Part A: y class equals to an int of the class variable of the dfp2 dataframe
y_class = dfp2['class'].astype(int)

In [132]:
# Part B: x equals all variables in dataframe except reg_target
X = dfp2.drop( columns = ['class', 'reg_target'])

In [133]:
## Part C-E 
# Create a test/train split, where train is 75% 
# and test is 25%. 
## 99 for random state 
## stratified sampling 
from sklearn.model_selection import train_test_split 

train_X, test_X, train_y, test_y = train_test_split(X, y_class, 
                                                    train_size = 0.75, 
                                                    test_size = 0.25, 
                                                    random_state = 99, 
                                                    stratify = y_class)

In [134]:
## 2F 
## Recode train_y from a multiclass classification to a binary classificaition
## such that train_y_new = 0 if test_y = 0-4, and test_y_new = 1 if test_y = 5-9 

train_y_new = ((train_y <= 9 ) & ( train_y >= 5) ).astype(int) 
train_y_new

5135    1
6198    1
5261    1
1679    0
5309    1
       ..
2331    0
7112    1
6673    1
1265    0
7364    1
Name: class, Length: 7474, dtype: int64

In [135]:
## 2f. Recode test_y from a multiclass classification problem to a binary classification problem, 
# such that test_y_new = 0 if the value of test_y is 0-4 and test_y_new =1 if test_y = 5-9

test_y_new = ((test_y <= 9) & (test_y >= 5) ).astype(int) 
test_y_new

8794    1
8588    1
5513    1
7672    1
2664    0
       ..
8218    1
5416    1
8917    1
2558    0
9641    1
Name: class, Length: 2492, dtype: int64

## Classification Models - Part 3

Start with the `dfp3_train` and `df_class_test` dataframes.  Don't use the output of the train test split from part2. 

Create the values for `dfp3_X_train`, `dfp3_y_train`, `dfp3_X_test`, `dfp3_y_test` from the given training and test set `dfp3_train` and `dfp3_test`. 

Use a [naive bayes](https://scikit-learn.org/stable/modules/generated/sklearn.naive_bayes.GaussianNB.html#sklearn.naive_bayes.GaussianNB) classifier for both models below. 

In the first model (model1), use all of the variables that start with `demo` or `dv` predict the class variable. Create the following variables:

3a. (6pts) `model1_train_accuracy`  Accuracy for model 1 in the train set.

3b. (6pts) `model1_test_accuracy`   Accuracy for model 1 in the test set.

3c. (6pts) `model1_test_ROC`        Area Under the Receiver Operating Characteristic Curve (ROC AUC) for model 1

In [136]:
#Load Part 3 Data
dfp3_train  = pd.read_csv('midterm_train_part3.csv')
dfp3_test   = pd.read_csv('midterm_test_part3.csv')

In [137]:
dfp3_test.head()

,demo,demo1,demo2,demo3,demo4,demo5,demo6,demo7,demo8,demo9,...,dv1,dv2,dv3,dv4,dv5,dv6,dv7,dv8,dv9,class
0,1,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,1
1,0,0,1,0,1,0,0,1,0,1,...,0,0,0,1,1,1,1,1,0,1
2,1,1,0,1,1,0,0,1,0,1,...,0,1,1,1,1,1,1,0,1,1
3,0,1,0,0,1,1,0,0,1,0,...,1,0,1,0,1,1,1,0,1,1
4,0,0,1,1,0,1,0,0,1,0,...,1,0,0,1,0,0,1,1,1,0

In [138]:
dfp3_train.head()

,demo,demo1,demo2,demo3,demo4,demo5,demo6,demo7,demo8,demo9,...,dv1,dv2,dv3,dv4,dv5,dv6,dv7,dv8,dv9,class
0,1,0,1,1,0,1,1,0,1,1,...,1,0,1,1,0,0,0,0,1,1
1,0,0,1,1,0,0,0,0,1,0,...,1,1,1,1,0,0,0,0,1,1
2,1,0,1,0,0,1,1,1,1,1,...,1,1,1,0,0,1,1,0,0,1
3,1,1,0,1,1,1,1,0,0,0,...,1,1,0,1,1,1,1,1,0,0
4,1,0,1,1,0,1,1,1,1,1,...,0,0,1,0,0,1,1,1,1,1

In [139]:
#uncomment andUselect out the X and Y variables as approprate.

dfp3_X_train= dfp3_train.drop(columns = ['class']) 
dfp3_y_train= dfp3_train['class'].astype(int) 
dfp3_X_test= dfp3_test.drop(columns = ['class']) 
dfp3_y_test=dfp3_test['class'].astype(int)

In [140]:
#Answer (add additional cells as necessary)
from sklearn.linear_model import LogisticRegression 
classifier = LogisticRegression() 
print(dfp3_X_train.shape) 
print(dfp3_y_train.shape)

(7474, 20)
(7474,)

In [141]:
classifier.fit(dfp3_X_train, dfp3_y_train) 
prediction = classifier.predict(dfp3_X_test)

In [142]:
## Part A: Find the accuracy for model 1 in the train set

model1_train_accuracy = classifier.score(dfp3_X_train, dfp3_y_train)
print(model1_train_accuracy)

0.6335295691731335

In [143]:
## Part B: Find the accuracy for model 1 for the test set
model1_test_accuracy = classifier.score(dfp3_X_test, dfp3_y_test) 
print(model1_test_accuracy)

0.6215890850722311

In [144]:
## Part C: find the Area under the receiver operating characteristic curve (ROC AUC) 

from sklearn.metrics import roc_auc_score

model1_test_ROC = roc_auc_score(dfp3_y_test, prediction) 
print(model1_test_ROC)

0.6215775692988474

## Regression Models -  Models - Part 4

For part 4 use `dfp4_train` and `dfp4_test` with `reg_target` as the dependent variable and all other variables as the independent variables. 

Create the values for `dfp4_X_train`, `dfp4_y_train`, `dfp4_X_test`, `dfp4_y_test` from the given training and test set `dfp4_train` and `dfp4_test`.  

For the regression model we want to compare the performance of a linear regression (model1) with a RandomForest Regression (model2).

In the first model (model1), use all of the variables except the `reg_target` and use linear regression. Create the following variables:

4a. (3pts) `model1_train_r2`  R-squared for model 1 in the train set.

4b. (3pts) `model1_test_r2`   R-squared for model 1 in the test set.

4c. (3pts) `model1_test_msele`  Mean squared logarithmic error for model 1 in the test set. 



In the second model (model2), use all of the variables except the `reg_target` and use RandomForest regression. Create the following variables:

4d. (3pts) `model2_train_r2`  R-squared for model 2 in the train set.

4e. (3pts) `model2_test_r2`   R-squared for model 2 in the test set.

4f. (3pts) `model2_test_msele`  Mean squared logarithmic error for model 2 in the test set.

In [145]:
#Load Part 3 Data
dfp4_train  = pd.read_csv('midterm_train_part4.csv')
dfp4_test   = pd.read_csv('midterm_test_part4.csv')
dfp4_train

,demo,demo1,demo2,demo3,demo4,demo5,demo6,demo7,demo8,demo9,...,dv1,dv2,dv3,dv4,dv5,dv6,dv7,dv8,dv9,reg_target
0,1,0,0,0,0,0,1,1,0,0,...,0,1,1,1,0,0,0,0,1,91.883010
1,0,0,1,1,0,0,0,1,1,1,...,0,0,1,0,1,1,0,0,1,58.996601
2,1,0,1,0,0,0,0,0,1,1,...,1,0,1,1,1,1,0,0,1,166.333351
3,1,1,1,0,0,1,1,0,1,1,...,0,0,1,0,0,0,0,0,0,4.450023
4,0,1,0,0,1,1,0,1,1,1,...,1,0,0,1,0,0,0,1,1,47.069012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7469,0,1,0,1,1,1,0,0,0,1,...,1,1,1,1,1,1,0,1,1,94.764442
7470,1,1,0,0,1,1,1,0,0,1,...,1,0,1,1,1,0,0,0,1,-30.130155
7471,1,1,0,1,0,0,0,1,0,0,...,1,1,1,1,1,1,0,1,1,96.604269
7472,0,1,0,0,0,1,0,0,1,1,...,0,1,0,1,0,0,1,0,1,7.491651
7473,1,0,1,0,0,0,1,0,1,1,...,0,0,1,1,0,1,1,0,1,115.824757

In [146]:
dfp4_test

,demo,demo1,demo2,demo3,demo4,demo5,demo6,demo7,demo8,demo9,...,dv1,dv2,dv3,dv4,dv5,dv6,dv7,dv8,dv9,reg_target
0,1,1,0,1,0,0,1,0,0,0,...,0,1,1,1,1,1,1,0,0,141.044222
1,1,1,0,0,0,0,0,1,0,0,...,0,1,0,0,1,0,1,1,0,127.018843
2,0,0,0,1,0,0,0,1,1,1,...,0,0,1,0,1,1,0,0,0,5.828156
3,0,0,1,1,0,0,0,1,1,1,...,0,0,0,1,0,1,1,0,0,22.186969
4,1,1,0,0,1,1,0,0,1,1,...,1,0,1,1,1,0,1,1,0,126.927394
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2487,0,0,1,0,1,0,1,1,0,0,...,1,0,1,0,0,1,1,1,0,-60.596384
2488,1,1,0,1,1,1,1,1,0,0,...,0,0,0,1,1,1,0,1,0,-69.268449
2489,1,1,0,0,1,0,0,0,0,0,...,1,1,0,1,1,0,1,0,0,-6.871772
2490,1,1,0,1,1,1,1,0,0,0,...,1,1,0,1,0,0,0,0,0,81.985439
2491,1,0,1,1,0,0,0,0,1,1,...,0,0,0,0,0,1,1,1,1,-218.094282

In [147]:
dfp4_X_train = dfp2.drop( columns = ['class', 'reg_target']) 
y_class = dfp2['class'].astype(int)

In [148]:
#Uncomment and Select out the X and Y variables as approprate. Don't reuse train_X, test_X, train_y, test_y.

dfp4_X_train= dfp4_train.drop(columns = ['reg_target']) 
dfp4_y_train= dfp4_train['reg_target'].astype(int) 
dfp4_X_test= dfp4_test.drop(columns = ['reg_target']) 
dfp4_y_test=dfp4_test['reg_target'].astype(int)

In [149]:
#Answer (add additional cells as necessary)

## Model 1 = Linear Regression 
from sklearn.linear_model import LinearRegression 
lm = LinearRegression() 
lm.fit(dfp4_X_train, dfp4_y_train)

LinearRegression()

In [150]:
# Part A: Model R^2 for model 1 in the train set 
model1_train_r2 = lm.score(dfp4_X_train, dfp4_y_train) 
print(model1_train_r2)

0.4519495623123778

In [151]:
#Part B: Model R^2 for model 1 in the test set 
model1_test_r2 = lm.score(dfp4_X_test, dfp4_y_test) 
print(model1_test_r2)

0.46648347875557716

In [152]:
##Part C: Model mean squared error for model 1 in the test set 
dfp4_predicted_linear = lm.predict(dfp4_X_test)

from sklearn.metrics import mean_squared_error
model1_test_msele = mean_squared_error(dfp4_y_test, dfp4_predicted_linear)
print(model1_test_msele)

8260.58848154461

In [153]:
## Model 2: Random Forest Model

from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor() 
forest_reg.fit(dfp4_X_train, dfp4_y_train)

RandomForestRegressor()

In [154]:
## Part D: Find R^2 for model 2 in the train set 
model2_train_r2 = forest_reg.score(dfp4_X_train, dfp4_y_train) 
print(model2_train_r2)

0.9283704360200933

In [155]:
## Part E: Find R^2 for model 2 in the test set 
model2_test_r2 = forest_reg.score(dfp4_X_test, dfp4_y_test) 
print(model2_test_r2)

0.532420073563072

In [156]:
## Part F: Find the Mean Squared error for model 2 in the test set
dfp4_predicted_random_forest = forest_reg.predict(dfp4_X_test) 
model2_test_msele = mean_squared_error(dfp4_y_test, dfp4_predicted_random_forest) 
print(model1_test_msele)

8260.58848154461

## Validate Variables
There aren't tests, but this last check wil help you find if you have defined all expected variables (and don't have any accidental misspellings).

In [157]:
expected_answers=['class_most_freq','reg_target_mean','class_num','class_na', 'df2','df3', \
                 'y_class', 'train_X', 'test_X', 'train_y', 'test_y', \
                'dfp3_X_train', 'dfp3_y_train', 'dfp3_X_test', 'dfp3_y_test', \
                  'dfp4_X_train', 'dfp4_y_train', 'dfp4_X_test', 'dfp4_y_test', \
                 'model1_train_accuracy','model1_test_accuracy','model1_test_ROC',  \
                 'model1_train_r2','model1_test_r2','model1_test_msele',\
                 'model2_train_r2','model2_test_r2','model2_test_msele']

for x in expected_answers:
        if x in globals():
            print('The value for', x, 'is defined. ' )
        else:
            print('WARNING: The value for', x, 'is not defined. Check it out.')

The value for class_most_freq is defined.
The value for reg_target_mean is defined.
The value for class_num is defined.
The value for class_na is defined.
The value for df2 is defined.
The value for df3 is defined.
The value for y_class is defined.
The value for train_X is defined.
The value for test_X is defined.
The value for train_y is defined.
The value for test_y is defined.
The value for dfp3_X_train is defined.
The value for dfp3_y_train is defined.
The value for dfp3_X_test is defined.
The value for dfp3_y_test is defined.
The value for dfp4_X_train is defined.
The value for dfp4_y_train is defined.
The value for dfp4_X_test is defined.
The value for dfp4_y_test is defined.
The value for model1_train_accuracy is defined.
The value for model1_test_accuracy is defined.
The value for model1_test_ROC is defined.
The value for model1_train_r2 is defined.
The value for model1_test_r2 is defined.
The value for model1_test_msele is defined.
The value for model2_train_r2 is defined.
The value for model2_test_r2 is defined.
The value for model2_test_msele is defined.

In [158]:
grader = otter.Notebook()
grader.check_all()

q01a:

    All tests passed!


q01b:

    All tests passed!


q01c:

    All tests passed!


q01d:

    All tests passed!


q01e:

    All tests passed!


q01f:

    All tests passed!


q01g:

    All tests passed!


q01h:

    All tests passed!


q02a:

    All tests passed!


q02b:

    All tests passed!


q02c:

    All tests passed!


q02d:

    All tests passed!


q02e:

    All tests passed!


q02f:

    All tests passed!


q02g:

    All tests passed!


q03a:

    All tests passed!


q03b:

    All tests passed!


q03c:


    0 of 1 tests passed


    Tests failed:

           tests/q03c.py

Test result:
Trying:
    round(model1_test_ROC,1)==0.7
Expecting:
    True
**********************************************************************
Line 2, in tests/q03c.py 0
Failed example:
    round(model1_test_ROC,1)==0.7
Expected:
    True
Got:
    False






q04a:

    All tests passed!


q04b:

    All tests passed!


q04c:


    0 of 1 tests passed


    Tests failed:

           tests/q04c.py

Test result:
Trying:
    round(model1_test_mse,0)==8310.0
Expecting:
    True
**********************************************************************
Line 2, in tests/q04c.py 0
Failed example:
    round(model1_test_mse,0)==8310.0
Exception raised:
    Traceback (most recent call last):
      File "/Users/vijayyedidi/opt/anaconda3/lib/python3.8/doctest.py", line 1336, in __run
        exec(compile(example.source, filename, "single",
      File "<doctest tests/q04c.py 0[0]>", line 1, in <module>
        round(model1_test_mse,0)==8310.0
    NameError: name 'model1_test_mse' is not defined






q04d:

    All tests passed!


q04e:

    All tests passed!


q04f:


    0 of 1 tests passed


    Tests failed:

           tests/q04f.py

Test result:
Trying:
    model2_test_mse > 7000 and model2_test_mse < 9000
Expecting:
    True
**********************************************************************
Line 2, in tests/q04f.py 0
Failed example:
    model2_test_mse > 7000 and model2_test_mse < 9000
Exception raised:
    Traceback (most recent call last):
      File "/Users/vijayyedidi/opt/anaconda3/lib/python3.8/doctest.py", line 1336, in __run
        exec(compile(example.source, filename, "single",
      File "<doctest tests/q04f.py 0[0]>", line 1, in <module>
        model2_test_mse > 7000 and model2_test_mse < 9000
    NameError: name 'model2_test_mse' is not defined